<table>
	<tbody>
		<tr>
			<td>
				<ul>
					<li><a target="result-frame" href="/tests/aliases">Aliases</a></li>
					<li><a target="result-frame" href="/tests/inject-script">Inject Script</a></li>
				</ul>

				<br/>
				<br/>
				<br/>
				<hr>
				<ul>
					<li><a target="_blank" href="http://reference.developercompanion.com/Tools/FirePHPCompanion/Run/Examples/">devcomp examples</a></li>
				</ul>
			</td>
			<td>
				<iframe id="result-frame" name="result-frame" width="100%" height="100%"></iframe>
			</td>
		</tr>
	</tbody>
</table>